# Dicionários

#### Estrutura

In [2]:
dicionario = {'nome': 'João', 'idade': 25, 'altura': 1.75}
nome = dicionario['nome']
idade = dicionario['idade']
print(f'Nome: {nome}, Idade: {idade}')

Nome: João, Idade: 25

#### Pegar item do Dicionario

In [ ]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

print('O livro mais vendido foi {}'.format(mais_vendidos['livros']))
print('O produto mais vendido da categoria lazer foi {}'.format(mais_vendidos['lazer']))

#Utilizando .get() para acessar valores

print('Foram vendidas {} unidades do notebook asus'.format(vendas_tecnologia.get('notebook asus')))
print('Foram vendidas {} unidades do ipad'.format(vendas_tecnologia.get('ipad')))

#### Verificar item

In [17]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

if vendas_tecnologia.get('controle') is None:
    print('O produto não foi vendido')
else:
    print('Foram vendidas {} unidades do tablet'.format(vendas_tecnologia.get('tablet')))

O produto não foi vendido

#### Adicionar item a no dicionário

In [18]:
dicionario = {}
dicionario['nome'] = 'João'

###Outra forma de adicionar elementos ao dicionário
dicionario.update({'idade': 25, 'altura': 1.75})
print(dicionario)

{'nome': 'João', 'idade': 25, 'altura': 1.75}

#### Adicionando e modificando

In [20]:
lucro_1trim = {'jan': 15000, 'fev': 22000, 'mar': 18000}
lucro_2trim = {'abr': 25000, 'mai': 30000, 'jun': 28000}

print(lucro_1trim)

lucro_1trim.update(lucro_2trim)
print(lucro_1trim)

lucro_1trim['jan'] = 20000
print(lucro_1trim)

{'jan': 15000, 'fev': 22000, 'mar': 18000}
{'jan': 15000, 'fev': 22000, 'mar': 18000, 'abr': 25000, 'mai': 30000, 'jun': 28000}
{'jan': 20000, 'fev': 22000, 'mar': 18000, 'abr': 25000, 'mai': 30000, 'jun': 28000}

#### Remover itens

In [27]:
lucro_1sem = {'jan': 15000, 'fev': 22000, 'mar': 18000, 'abr': 25000, 'mai': 30000, 'jun': 28000}   

del lucro_1sem['jan']
print(lucro_1sem)

#Utilizando o método .pop() para remover um item do dicionário
lucro_fev = lucro_1sem.pop('fev')
print(lucro_fev)

#Utilizando o método .clear() para limpar o dicionário

lucro_1sem.clear()
print(lucro_1sem)

{'fev': 22000, 'mar': 18000, 'abr': 25000, 'mai': 30000, 'jun': 28000}
22000
{}

#### For nos dicionários

In [32]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}
total_notebooks = 0

for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebooks += vendas_tecnologia[chave]
print('Foram vendidos {} notebooks'.format(total_notebooks))

Foram vendidos 20450 notebooks

### Métodos úteis em dicionários

.itens() -> cria uma lista com os itens dos dicionarios

In [37]:
dicionario = {'nome': 'João', 'idade': 25, 'altura': 1.75}
itens_dict = dicionario.items()
print(itens_dict)

##Iterando sobre um dicionário
for item ,qtde in dicionario.items():
    print('{}: {}'.format(item, qtde))

dict_items([('nome', 'João'), ('idade', 25), ('altura', 1.75)])
nome: João
idade: 25
altura: 1.75

.keys() -> cria uma lista com as chaves dos dicionarios

.values() -> cria uma lista com os valores dos dicionarios

In [39]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

chaves = vendas_tecnologia.keys()
valores = vendas_tecnologia.values()

print(chaves)
print(valores)

vendas_tecnologia['moto g'] = 5000
print(chaves)
print(valores)

dict_keys(['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus'])
dict_values([15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450])
dict_keys(['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus', 'moto g'])
dict_values([15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450, 5000])

#### Transformando listas em dicionarios

In [ ]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']
vendas = [15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450]

dicionario = dict.fromkeys(produtos, 0)
print(dicionario)

vendas_tecnologia = dict(zip(produtos, vendas))
print(vendas_tecnologia)

{'iphone': 0, 'samsung galaxy': 0, 'tv samsung': 0, 'ps5': 0, 'tablet': 0, 'ipad': 0, 'tv philco': 0, 'notebook hp': 0, 'notebook dell': 0, 'notebook asus': 0}
{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}